# --------------------------------------
# Archivos generales de compilación
# --------------------------------------
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# --------------------------------------
# Visual Studio / .NET
# --------------------------------------

# Carpeta del IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compilación de proyectos
bin/
obj/
[Bb]uild/
[Ll]og/
out/

# Archivos de test y cobertura
*.coverage
*.coveragexml
TestResults/

# Paquetes NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Archivos temporales y cache
*.tmp
*.temp
*.log
*.db
*.db-shm
*.db-wal

# Configuración local (no subir a GitHub)
appsettings.Development.json
launchSettings.json

# Otros caches
_ReSharper*/
*.ncrunch*
*.Local.json
